<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">List Of Logged Users</div>
                <div class="panel-body">
                    <div ng-repeat="x in facebookData">
                        <div class="well">
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="thumbnail"
                                         ng-src="http://graph.facebook.com/{{ x.doc._id }}/picture?type=square&width=246&height=260"/>
                                </div>
                                <div class="col-md-8">
                                    <h4>{{ x.doc.name }}</h4>
                                    <ul class="list-group">
                                        <li class="list-group-item">Email: {{ x.doc.email}}</li>
                                        <li class="list-group-item">
                                            Logged In: {{ x.doc.lastseen | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}
                                        </li>
                                    </ul>
                                    <a class="btn btn-primary" target="_blank"
                                       ng-href="{{ x.doc.link }}"> View on Facebook </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>