<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Login</div>
                <div class="panel-body">
                    <a ng-click="login()" class="btn btn-block btn-facebook btn-social" role="button">
                        <i class="fa fa-facebook"></i>
                        Login With Facebook
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>